<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <p>asdas</p>
            <p>asdas</p>
            <p>asdas</p>
        </div>
    </body>
</html>

<style>
    .container {
        background-color: aqua;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
</style>
